body {
  font-family: "Open Sans", sans-serif;
}

h5 {
  margin: 30px 20px 10px;
}
header {
  padding: 10px 10px 30px;
  font-size: 18px;
  margin: 0;
}
main {
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px;
  background: white;
  box-shadow: 2px 2px 5px #79c2d0;
}

footer {
  margin: 10px 5px 10px;
}

.app-border {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 70px auto 0;
  max-width: 700px;
  background: rgba(187, 228, 233, 0.5);
}

.col {
  display: grid;
  align-items: center;
}
.search {
  display: flex;
  flex-direction: row-reverse;
  font-size: 16px;
}
.input-city {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #5585b5;
}
.submit-button {
  padding: 5px 10px;
  border-radius: 5px;
  background: #5585b5;
  border: 1px solid #5585b5;
}
.today-main-info {
  font-size: 22px;
  text-align: left;
  padding-left: 50px;
  line-height: 1.3;
}
.today-temp {
  font-size: 60px;
  font-weight: 600;
}
.unit {
  font-size: 18px;
  position: relative;
  top: -28px;
}
.today-icon {
  width: 150px;
  display: block;
  margin: 0 auto;
}
.today-orther-info {
  font-size: 18px;
  text-align: left;
  list-style: none;
  padding: 0;
}

#description {
  font-size: 18px;
}

#description:first-letter {
  text-transform: capitalize;
}

#current-button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background: #5585b5;
  color: white;
  float: right;
  transition: all 200ms ease-in-out;
}

#current-button:hover {
  background: white;
  color: #5585b5;
  box-shadow: 2px 2px 5px #5585b5;
}
#edit {
  text-align: center;
}

.weather-forecast {
  text-align: center;
  margin: 20px 10px 0;
  padding: 0 10px;
  border: 1px solid white;
  border-radius: 5px;
  background: white;
  line-height: 1.5;
  box-shadow: 2px 2px 5px #79c2d0;
}

.forecast-date {
  margin: 5px 0 0;
}
.forecast-temp {
  margin: 0 5px;
}
.forecast-icon {
  display: block;
  margin: 0 auto;
}
.max {
  font-weight: bold;
}
.min {
  opacity: 0.6;
}
